* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa-Heavy'), url('../../../Font/Nexa-Heavy.ttf');
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



:root {
    --purple: #5f259f;
    --white: #fff;
}

body {
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    color: var(--purple);
}

.main-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    padding: 30px 80px;
    gap: 5em;
    /* flex-direction: column; */
}

.header {
    width: 100%;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.footer {
    height: 20px;
    margin-left: 2em;
}


.navbar {
    padding-right: 2em;
    width: 100%;
}



.title {
    font-family: 'Nexa';
    color: var(--white);
}

.h1 {
    font-size: 2rem;
    padding-left: 1em;
}

.list {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    list-style: none;
    text-decoration: none;
}

.list > a {
    text-decoration: none;
}

.list-item {
    padding: 1rem;
}

.filter-tab {
    padding-top: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.filter-tab-searchbar {
    height: 1.6em;
    width: calc(100% - 1em);
    background-color: #f2f2f2;
    border: 2px solid var(--purple);
    border-radius: 4px;
    padding: 0.5em;
    font-size: 16px;
    font-family: 'Roboto';
}

.filter-tab-searchbar:focus {
    border-color: var(--purple);
}

.filter-item {
    list-style: none;
    padding: 0.5em 0.5em;
    /* border-radius: 4px; */
}

.filter-item:hover {
    cursor: pointer;
    background-color: var(--purple);
    color: var(--white);
}

.data-table-title {
    background-color: var(--purple);
    height: 2em;
    color: var(--white);
    font-family: 'Nexa';
    font-size: 0.9em;
}

.data-table {
    /* border: 2px solid black; */
    color: var(--purple);
    border-collapse: collapse;
} 

.data-table-row, .data-table-row-subtitle, .data-table-row-title {
    border-bottom: 2px solid var(--purple);
    height: 3em;
    font-weight: 500;
}

.data-table-subtitle {
    width: 11em;
    text-align: center;
}

.city, .street-number, .type, .summer-night-opening, .all-day-opening, .week-schedule, .weekend-schedule {
    text-align: center;
}

.active-filter {
    background-color: var(--purple);
    color: var(--white);   
    text-decoration: underline;
}

.inactive {
    display: none;
}

#filter-reset:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: var(--purple);
    color: var(--white);
}
